/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// Стили для файла с примером HTML-фрагмента

button{
    padding: 10px 20px;
    text-align: center;
    background-color: rgb(100, 241, 211);
    border-radius: 5px;
    outline: none;
}

